<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>새 제품 추가</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/style.css">

</head>
<body>
	<div th:replace="navbar.html"></div>
    <h2>새 제품 추가</h2>
    <form th:action="@{/products}" th:object="${productEntity}" method="post" enctype="multipart/form-data">
        <label for="productName">제품명:</label>
        <input type="text" id="productName" th:field="*{productName}" placeholder="제품명을 입력하세요" required><br><br>
        
        <label for="productPrice">가격:</label>
        <input type="text" id="productPrice" th:field="*{productPrice}" placeholder="가격을 입력하세요" required><br><br>
        
        <label for="productRegisDate">등록일:</label>
        <input type="date" id="productRegisDate" th:field="*{productRegisdate}" placeholder="등록일을 선택하세요" required><br><br>
        
        <label for="productIntro">제품 소개:</label><br>
        <textarea id="productIntro" th:field="*{productIntro}" placeholder="제품 소개를 입력하세요" rows="4" cols="50" required></textarea><br><br>
        
        <label for="productImage">제품 이미지:</label>
        <input type="file" id="productImage" name="imageFile" placeholder="제품 이미지를 선택하세요" required><br><br>
        
        <label for="productCategory">제품 카테고리:</label>
        <select id="productCategory" th:field="*{productCategory}" required>
            <option value="">카테고리 선택</option>
            <option value="1">사무용 / 가정용</option>
            <option value="2">고성능 / 전문가용</option>
            <option value="3">3D게임 / 그래픽용</option>
        </select><br><br>
        
        <button type="submit">저장</button>
    </form>
</body>
</html>
