<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>공지사항</title>

<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap.min_4.5.0.css}">
<style>
.btn-home {
	text-align: center; /* 부모 요소를 가운데 정렬합니다 */
	margin-top: 10px; /* 원하는 만큼 상단 마진을 추가할 수 있습니다 */
}

.btn-home button {
	padding: 10px 20px; /* 버튼 내부 여백을 설정합니다 */
	background-color: #007bff; /* 배경색을 지정합니다 */
	color: white; /* 글자색을 흰색으로 설정합니다 */
	border: none; /* 테두리를 없앱니다 */
	border-radius: 5px; /* 모서리를 둥글게 만듭니다 */
	cursor: pointer; /* 마우스를 올렸을 때 포인터 모양으로 변경합니다 */
	font-size: 16px; /* 글자 크기를 설정합니다 */
}
</style>

<script type="text/javascript">
	$(document)
			.ready(
					function() { // 각 행을 클릭하면 상세페이지로 넘어가도록 함.
						$("tbody tr")
								.click(
										function() {
											var noticeNum = $(this).find(
													"td:first").text(); //해당 행의 공지사항 번호 가져오기
											var detailurl = /*[[${'/NoticeSelectDetail?notice_num=' + noticeNum}]]*/"./NoticeSelectDetail?notice_num="
													+ noticeNum; // 상세 페이지 URL 생성
											window.location.href = detailurl; //페이지 이동
										});
					});
</script>
</head>
<body>
	<header id="main-header" class="py-2 btn-dark text-white">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<h1>공지사항</h1>
				</div>
				<div class="col-md-6">
					<form th:action="@{/NoticeSearch}" method="get"
						class="form-inline my-2 my-lg-0 float-right">
						<input class="form-control mr-sm-2" type="search" name="keyword"
							placeholder="검색" aria-label="검색">
						<button class="btn btn-outline-success my-2 my-sm-0" type="submit">검색</button>
					</form>
				</div>
			</div>
		</div>
	</header>
	<section id="notice" class="py-4 mb-4 bg-light"></section>
	<section id="details">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="d-flex justify-content-end">
							<a th:href="@{/NoticeInsert}" class="btn btn-success btn-sm"> 글쓰기 </a>
						</div>
						<div class="card-body">
							<table class="table table-hover">
								<thead class="thead-light">
									<tr class="text-center">
										<th>No.</th>
										<th>제목</th>
										<th>작성자</th>
										<th>조회수</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									<!-- 객체를 호출하고 파라미터에 저장하여 반복한다. -->
									<tr class="text-center" th:each="list : ${list}">
										<td th:text="${list.notice_num}"></td>
										<td><a
											th:href="@{/NoticeSelectDetail(notice_num=${list.notice_num})}"
											th:text="${list.notice_title}"></a></td>
										<td th:text="${list.notice_writer}"></td>
										<td th:text="${list.notice_hit}"></td>
									</tr>
									<tr th:if="${#lists.isEmpty(list)}">
										<td colspan="4">등록된 공지사항이 없습니다.</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>

	</section>
	<div class="btn-home" style="text-align: center;">
		<button th:onclick="|location.href='./'|" class="btn btn-home">메인 홈페이지</button>
	</div>
</body>
</html>